/*
Bud Light Docs
v 0.1
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; }
ol, ul {list-style: none; }
* {margin: 0; padding: 0; box-sizing: border-box; }
* a {cursor: pointer; text-decoration: none; }
* i {font-style: italic; } * p { font-size: 1rem;}
h1, h2, h3, h4, h5, h6, b {  /* Falta font family */ font-weight: 600;  }
.flexDisplay{display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex }
.noneDisplay{ display: none}
.trans7{ -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; -ms-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out; transition: all 0.5s ease-out; }
.rot180{ -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
/* reset */
root { display: block }
*, *:before, *:after { -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
input, input:before, input:after { -webkit-user-select: initial; -khtml-user-select: initial; -moz-user-select: initial; -ms-user-select: initial; user-select: initial; }
::selection { background: transparent;color:inherit; }
::-moz-selection { background: transparent;color:inherit; }


body{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #263270;
  background-image: url('../img/back-home.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
@media (min-width: 520px){
  body{ overflow: hidden; }
}

/* canvas */
#canvas{
  position: fixed;
  top: 120px;
}
canvas {
  image-rendering: optimizeSpeed;
  image-rendering:-o-crisp-edges;
  image-rendering:-webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  -ms-touch-action: none;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; /* mobile webkit */
  z-index: 10;
}
.canvasWrd{ border: 2px solid #263270; }
.canvasPpt{ border: 2px solid #F45A2A; }
.canvasExc{ border: 2px solid #1F7448; }

/* LOGOTIPO */
#logotipobudlight{
  position: absolute;
  bottom: 30px;
  right: 10px;
  height: 20px;
  opacity: 0;
  display: none;
}
@media (min-width: 1050px){ #logotipobudlight{ display: block; height: 20px; } }
@media (min-width: 1150px){ #logotipobudlight{ height: 30px; } }
@media (min-width: 1300px){ #logotipobudlight{ height: 40px; } }

#logotipobudlight>img{
  height: 100%;
}
/* LOOK PPT */
#lookLevelPpt{
  position: absolute;
  width: 250px;
  height: calc(100vh - 155px);
  top: 130px;
}
#lookLevelPpt>#reglaTop{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  background-image: url('../img/look/reglaTopPpt.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
#lookLevelPpt>#reglaRight{
  width: 25px;
  height: calc(100% - 25px);
  background: #fff;
  position: absolute;
  top: 25px;
  right: 0;
  border-left: 2px solid #A3A3A3;
  border-right: 2px solid #A3A3A3;
  box-sizing: border-box;
  background-image: url('../img/look/ruleLeftPpt.svg');
  background-repeat:repeat-y;
  background-size: 100% 100%;
}
#lookLevelPpt>ul{
  position: absolute;
  top: 25px;
  width: calc(100% - 25px);
  height: calc(100% - 25px);
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content:space-around;
  -moz-justify-content:space-around;
  -ms-justify-content:space-around;
  -o-justify-content:space-around;
  justify-content:space-around;
}
#lookLevelPpt>ul>li{
  width: 80%;
  height: 30%;
}
#lookLevelPpt>ul>li>p{
  width: 20px;
  text-align: center;
  color: #F45A2A }
#lookLevelPpt>ul>li>span{
  display: block;
  border:1px solid #000;
  height: 95%;
  width: 100%;
}
/* LOOK LEVEL EXC */
#lookLevelExc{
  position: absolute;
  width: 100vw;
  min-width: 250px;
  height: calc(100vh - 155px);
  top: 130px;
  background: #fff;
}
#lookLevelExc>#lookLevelExcCeldas{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/celdas.png');
}
#lookLevelExc>ul{
  width: 30px;
  height: 100%;
  background: #EDEDED;
}
#lookLevelExc>ul>li{
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  text-align: center;
  color: #1F7448
}
#lookLevelExc>ul>li>img{
  width: 30px;
  height: 30px;
}
/* MENU MOBILE */
#menumobile{
  position: absolute;
  width: 100vw;
  min-width: 250px;
  color: #fff;
  background: transparent;
  opacity: 1;
  top: -60px;
  z-index: 5000;
}
#menumobile>#barmenumobile{
  position: absolute;
  width:100%;
  height: 60px;
  -webkit-justify-content:space-around;
  -moz-justify-content:space-around;
  -ms-justify-content:space-around;
  -o-justify-content:space-around;
  justify-content:space-around;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
#menumobile>#barmenumobile>a{
  text-align: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  align-items: center;
}
#menumobile>#barmenumobile>a>img{ width: 30px; }
#menumobile>#barmenumobile>p{ text-align: center; }
#menumobile>#barmenumobile>p,   #menumobile>#barmenumobile>a>p{ font-size: 0.75rem }
/* OUTTER */
/* #menuMobileOutter{
  position: fixed;
  width:100vw;
  height: 100vh;
} */
/* MENU DESKTOP */
#menu{
  position: fixed;
  width: 100vw;
  min-width: 250px;
  height: 130px;
  background: transparent;
  z-index: 5000;
  overflow: hidden;
}

#menu>#head{
  position: absolute;
  top: -50px;
  width:100%;
  height: 60px;
  color: #fff;
  -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; -ms-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out; transition: all 0.5s ease-out;
}
#menu>#head>p{
  position: absolute;
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}
#menu>#head>#top{
  position: relative;
  width: calc(100% - 40px);
  height: 30px;
  margin-left: 20px;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  overflow: hidden;
}
#menu>#head>#top>#izq{
  width: 450px;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
#menu>#head>#top>#izq>#closewindow{
  width: 80px;
  height: 20px;
  background-image: url('../img/head/closewindow.png');
  background-repeat: no-repeat;
  background-size: contain;
}
#menu>#head>#top>#izq>#pipe{
  display: block;
  width: 10px;
  height: 20px;
  overflow: hidden;
  text-align: center;
}
#menu>#head>#top>#izq>#gamertit{
  display: block;
  text-align: center;
  font-weight: 300;
}
#menu>#head>#top>#izq>#gamermood{ height: 20px; }
#menu>#head>#top>#izq>ul{
  opacity: 0;
  margin-top: 3px;
  width: 150px;
  -webkit-justify-content:space-around;
  -moz-justify-content:space-around;
  -ms-justify-content:space-around;
  -o-justify-content:space-around;
  justify-content:space-around;
}
#menu>#head>#top>#izq>ul>li{ width: 25px }
#menu>#head>#top>#izq>ul>li>img{
  margin: 0 10px;
  height: 15px;
}
#menu>#head>#top>#der{
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
#menu>#head>#top>#der>img{ height: 20px; }
#menu>#head>#top>#der>a{
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
#menu>#head>#top>#der>a:hover{
  opacity: 0.7;
}
/* TABS */
#menu>#head>ul{
  width: 100%;
  height: 30px;
  font-weight: 300;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
#menu>#head>ul>li{
  height: 30px;
  padding: 0 25px;
}
#menu>#head>ul>li>a{
  display: block;
}
.tabSelectWord{
  background:#f7f7f7;
  color: #263270;
}
.tabSelectPpt{
  background:#f7f7f7;
  color: #f45a2a;
}
.tabSelectExcel{
  background:#f7f7f7;
  color: #1f7448;
}
/* FACEBOOK SHARE */
#menu>#head>ul>a{
  display: block;
  width: 200px;
  position: absolute;
  right: 20px;
  height: 20px;
}
#menu>#head>ul>a:hover{ opacity: 0.7; }
#menu>#head>ul>a>img{ height: 90%; }
/* MENU BAR */
#menu>#bar{
  position: absolute;
  top: -70px;
  width:100%;
  height: 70px;
  background: #f7f7f7;
  -webkit-justify-content:space-around;
  -moz-justify-content:space-around;
  -ms-justify-content:space-around;
  -o-justify-content:space-around;
  justify-content:space-around;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  z-index: -1;
}
/* Boton General*/
#menu>#bar>div{
  width: 80px;
  height: 60px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex; display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
/* Botón Iconos pequeños */
#menu>#bar>aside{
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  width: 160px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('../img/bar/small-icons.svg');
}
/* TEXTO */
#menu>#bar>div>p{
  font-size: 0.8rem;
  text-align: center;
  padding: 2px;
  line-height: 1;
}
/* ICONO BARRA MENU */
#menu>#bar>div>a{
  display: block;
  margin-top: 5px;
  width: 30px !important;
  height: 30px !important;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.noFuncional{ color: #4d4d4d }
.abuget{ background-image: url('../img/bar/abuget.svg') }
.carpeta{ background-image: url('../img/bar/carpeta.svg') }
.llama{ background-image: url('../img/bar/llama.svg') }
.invertir{ background-image: url('../img/bar/invertir.svg') }
.cambiar{ background-image: url('../img/bar/cambiar.svg') }
.digital{ background-image: url('../img/bar/digital.svg') }
.vinculos{ background-image: url('../img/bar/vinculos.svg') }
.link{ background-image: url('../img/bar/link.svg') }
.formas{ background-image: url('../img/bar/formas.svg') }

.level_begin{ background-image: url('../img/level/begin.svg') }
.level_1{ background-image: url('../img/level/1.svg') }
.level_2{ background-image: url('../img/level/2.svg') }
.level_3{ background-image: url('../img/level/3.svg') }
.level_4{ background-image: url('../img/level/4.svg') }
.level_5{ background-image: url('../img/level/5.svg') }
.level_6{ background-image: url('../img/level/6.svg') }
.level_7{ background-image: url('../img/level/7.svg') }
.level_8{ background-image: url('../img/level/8.svg') }
.level_9{ background-image: url('../img/level/9.svg') }
.level_10{ background-image: url('../img/level/9.svg') }

.livesWrd{ background-image: url('../img/bar/lives-wrd.svg') }
.livesExc{ background-image: url('../img/bar/lives-exc.svg') }
.livesPpt{ background-image: url('../img/bar/lives-ppt.svg') }

.scoreWrd{ background-image: url('../img/bar/score-wrd.svg') }
.scoreExc{ background-image: url('../img/bar/score-exc.svg') }
.scorePpt{ background-image: url('../img/bar/score-ppt.svg') }

.bestWrd{ background-image: url('../img/bar/best-wrd.svg') }
.bestExc{ background-image: url('../img/bar/best-exc.svg') }
.bestPpt{ background-image: url('../img/bar/best-ppt.svg') }

.positionWrd{ background-image: url('../img/bar/position-wrd.svg') }
.positionExc{ background-image: url('../img/bar/position-exc.svg') }
.positionPpt{ background-image: url('../img/bar/position-ppt.svg') }

.audioWrd{ background-image: url('../img/bar/audio-wrd.svg') }
.audioPpt{ background-image: url('../img/bar/audio-ppt.svg') }
.audioExc{ background-image: url('../img/bar/audio-exc.svg') }

.evasionWrd{ background-image: url('../img/bar/evasion-wrd.svg') }
.evasionExc{ background-image: url('../img/bar/evasion-exc.svg') }
.evasionPpt{ background-image: url('../img/bar/evasion-ppt.svg') }

.fullWrd{ background-image: url('../img/bar/full-wrd.svg') }
.fullExc{ background-image: url('../img/bar/full-exc.svg') }
.fullPpt{ background-image: url('../img/bar/full-ppt.svg') }

.quitWrd{ background-image: url('../img/bar/quit-wrd.svg') }
.quitExc{ background-image: url('../img/bar/quit-exc.svg') }
.quitPpt{ background-image: url('../img/bar/quit-ppt.svg') }

/* Borde entre botones */
#menu>#bar>span{
  display: block;
  width: 2px;
  height: 80%;
  background: #c9c9c9;
}
.back_word{
background: #263270;
background: -moz-linear-gradient(top, #263270 0%, #344694 100%);
background: -webkit-linear-gradient(top, #263270 0%,#344694 100%);
background: linear-gradient(to bottom, #263270 0%,#344694 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#263270', endColorstr='#344694',GradientType=0 );
}
.back_ppt{
background: #f45a2a;
background: -moz-linear-gradient(top, #f45a2a 0%, #f27c38 100%);
background: -webkit-linear-gradient(top, #f45a2a 0%,#f27c38 100%);
background: linear-gradient(to bottom, #f45a2a 0%,#f27c38 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f45a2a', endColorstr='#f27c38',GradientType=0 );
}
.back_excel{
background: #1f7448;
background: -moz-linear-gradient(top, #1f7448 0%, #2fb06d 100%);
background: -webkit-linear-gradient(top, #1f7448 0%,#2fb06d 100%);
background: linear-gradient(to bottom, #1f7448 0%,#2fb06d 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f7448', endColorstr='#2fb06d',GradientType=0 );
}

/*menu lateral*/
#menulateral{
  position: fixed;
  top: 120px;
  right: 0;
  width: 160px;
  height: 30px;
  background: #4d4d4d;
  color: #fff;
  text-transform: uppercase;
  z-index: 5000;
}
#menulateral:hover{ background: #8f9191 }
#menulateral>a{
  display: block;
  height: 30px;
  text-align: center;
}
#menulateral>a>p{
  display: inline-block;
  font-size: 0.8rem;
  line-height: 30px;
}
#menulateral>a>img{
  width: 18px;
  margin: 0 5px;
}
/* MEDIA QUERIES MENU */
@media (min-width: 960px){
  #menu{ top: 0; opacity: 1; }
  #menumobile{ opacity: 0; }
}
.esconderTres, .esconderTresSpan{ display: none !important }
.esconderDos, .esconderDosSpan{ display: none !important }
.esconderUno, .esconderUnoSpan{ display: none !important }
@media (min-width: 1050px){ .esconderTres, .esconderTresSpan{ display: block !important } }
@media (min-width: 1250px){
  #menu>#head>#top>#izq>ul{ opacity: 1; }
  .esconderDos{
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
  }
  .esconderDosSpan{
    display: block !important;
  }
}
@media (min-width: 1350px){
  .esconderUno{
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
  }
  .esconderUnoSpan{
    display: block !important;
  }
}

  /* MESSAGES */
  h1{
    font-weight:700;
    font-size: 2rem;
    margin: 5px auto;
  }
  #messagesGame{
    position: absolute;
    width: 100vw;
    min-width: 250px;
    height: 100vh
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    z-index: 4900;
  }
  #messagesGame>div{
    width: 840px;
    height: 100vh;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
  }
  #messagesGame>div>#content{
    width: 80%;
    background: transparent;
  }
  /* DISCLAIMER */
  #disclaimer{
    color: #fff;
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  #disclaimer>#back{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../img/fondo-juegos.svg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
  }
  #disclaimer>img{
    width: 250px;
    margin: 10px auto;
    opacity: 0;
    -webkit-animation: fadeIn 1s ease-in 1s forwards;
    -moz-animation: fadeIn 1s ease-in 1s forwards;
    -ms-animation: fadeIn 1s ease-in 1s forwards;
    -o-animation: fadeIn 1s ease-in 1s forwards;
    animation: fadeIn 1s ease-in 1s forwards;
  }
  #disclaimer>h1{
    opacity: 0;
    -webkit-animation: fadeIn 1s ease-in 1.3s forwards;
    -moz-animation: fadeIn 1s ease-in 1.3s forwards;
    -ms-animation: fadeIn 1s ease-in 1.3s forwards;
    -o-animation: fadeIn 1s ease-in 1.3s forwards;
    animation: fadeIn 1s ease-in 1.3s forwards;
  }
  #disclaimer>h3{
    font-size: 1.5rem;
    font-weight: 300;
    opacity: 0;
    -webkit-animation: fadeIn 1s ease-in 1.6s forwards;
    -moz-animation: fadeIn 1s ease-in 1.6s forwards;
    -ms-animation: fadeIn 1s ease-in 1.6s forwards;
    -o-animation: fadeIn 1s ease-in 1.6s forwards;
    animation: fadeIn 1s ease-in 1.6s forwards;
  }
  #disclaimer>div{
    width: 90%;
    margin: 10px auto;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    opacity: 0;
    -webkit-animation: fadeIn 1s ease-in 1.9s forwards;
    -moz-animation: fadeIn 1s ease-in 1.9s forwards;
    -ms-animation: fadeIn 1s ease-in 1.9s forwards;
    -o-animation: fadeIn 1s ease-in 1.9s forwards;
    animation: fadeIn 1s ease-in 1.9s forwards;
  }
  #disclaimer>div>a{
    position: relative;
    display: block;
    width: 150px;
    height: 40px;
    border: 2px solid #fff;
    color: #fff;
    margin: 5px auto;
    box-sizing: border-box;
  }
  #disclaimer>div>a>p{
    display: block;
    width: 150px;
    height: 40px;
    line-height: 36px;
    position: absolute;
    z-index: 2;
  }
  #disclaimer>div>a>span{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0;
    height: 36px;
    background: #fff;
    z-index: 1;
  }
  #disclaimer>div>a:hover>span{ width: 146px; }
  #disclaimer>div>a:hover>p{ color: #263072; }
  #disclaimer>p{
    width: 80%;
    margin: 0 auto;
    font-weight: 300;
    opacity: 0;
    -webkit-animation: fadeIn 1s ease-in 2.2s forwards;
    -moz-animation: fadeIn 1s ease-in 2.2s forwards;
    -ms-animation: fadeIn 1s ease-in 2.2s forwards;
    -o-animation: fadeIn 1s ease-in 2.2s forwards;
    animation: fadeIn 1s ease-in 2.2s forwards;
  }
  #disclaimer>p>a{
    width: 400px;
    margin: 0 auto;
    color: #fff;
    font-weight: 400;
    text-decoration: underline;
  }
  #disclaimer>p>a:hover{
    opacity: 0.6;
  }
  #footerprovisional{
    width: calc(100% - 40px);
    height: 20px;
    font-weight: 300;
    font-size: 0.9rem;
    bottom: 10px;
    left: 20px;
    color: #fff;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    opacity: 0;
    -webkit-animation: fadeIn 1s ease-in 2.2s forwards;
    -moz-animation: fadeIn 1s ease-in 2.2s forwards;
    -ms-animation: fadeIn 1s ease-in 2.2s forwards;
    -o-animation: fadeIn 1s ease-in 2.2s forwards;
    animation: fadeIn 1s ease-in 2.2s forwards;
    display: none;
  }
  #footerprovisional>div>a{
    color: #fff;
    font-weight: 400;
    text-decoration: underline;
  }
  /* EDADNOVALIDA */
  #edadnovalida{
    position: relative;
    width: 100%;
    height: 100%;
  }
  #edadnovalida>#back{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../img/fondo-juegos-azul.svg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
  }
  #edadnovalida>div{
    position: absolute;
    top:calc(50% - 250px);
    left: calc(50% - 150px);
    width: 300px;
    height: 250px;
    text-align: center;
  }
  #edadnovalida>div>img{
    width: 80px;
  }
  #edadnovalida>div>p{
    position: relative;
    margin: 10px auto;
    font-weight: 300;
    font-size: 1.5rem;
    width: 80%;
  }
  /* MENSAJE BIENVENIDA */
  #mensajebienvenida{
    margin-top: 200px;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  #mensajebienvenida>img{
    width: 200px;
  }
  #mensajebienvenida>p{
    font-size: 1.1rem;
    width: 600px;
    margin: 10px auto;
    font-weight: 400;
    text-align: center;
  }
  #mensajebienvenida>.registrocss{
    position: relative;
    width: 230px;
    height: 40px;
    border:2px solid #263072;
    color: #263072;
    margin: 15px auto;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content:space-around;
    -moz-justify-content:space-around;
    -ms-justify-content:space-around;
    -o-justify-content:space-around;
    justify-content:space-around;
  }
  #mensajebienvenida>.registrocss>p{ font-weight: 400; }
  #mensajebienvenida>.registrocss>svg{
    height: 20px;
    fill:#263072;
  }
  #mensajebienvenida>.registrocss>span{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 36px;
    background: #263072;
    z-index: -1;
  }
  #mensajebienvenida>.registrocss:hover>span{ width: 226px; }
  #mensajebienvenida>.registrocss:hover>p{ color: #fff }
  #mensajebienvenida>.registrocss:hover>svg{ fill:#fff }
  #quitarFront{
    padding: 15px;
    border: 1px solid red;
  }
  footer{
    position: fixed;
    bottom:-40px;
    left: 0;
    width: 100vw;
    min-width: 250px;
    height: 25px;
    background: #e0e0e0;
    color: #4d4d4d;
    z-index: 5000;
    opacity: 0;
  }
  footer>p{
    width: 300px;
    margin-left: 20px;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 25px;
  }
  footer>div{
    position: absolute;
    right: 20px;
    font-size: 0.8rem;
    font-weight: 300;
  }
  footer>div>img{
    height: 15px;
    margin: 5px 10px;
  }
  footer>div>p{
    line-height: 25px;
  }
  footer>div>a{
    line-height: 25px;
    color: #4d4d4d;
    font-weight: 400;
  }
  /* iPAD */
  @media (min-width: 720px) {
    #menumobile>#barmenumobile>p{ font-size: 1rem;}
    #menumobile>#barmenumobile>a>img{ width: 40px; }
    h1{ font-size: 3rem; margin: 10px auto }
    #disclaimer>h3{ font-size: 2rem }
    #disclaimer>img{
      width: 300px;
      margin: 20px auto;
    }
    #disclaimer>div>a{
      margin: 10px auto;
      font-size: 1.5rem;
    }
    #disclaimer>p:nth-child(5){ margin-top: 30px; }
    #disclaimer>p{ margin: 5px auto }
  }

  /* Desktop */
  @media (min-width: 960px){
    footer{ opacity: 1 }
    #disclaimer{ margin-top: 120px; }
    #disclaimer>div{
      width: 400px;
      margin: 30px auto;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      -o-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content:space-around;
      -moz-justify-content:space-around;
      -ms-justify-content:space-around;
      -o-justify-content:space-around;
      justify-content:space-around;
    }
    #disclaimer>div>a{
      width: 150px;
      line-height: 40px;
    }
    #disclaimer>div>a{ margin: 0; }
    #disclaimer>p:nth-child(5){ margin-top: 0; }
    #disclaimer>p{
      margin: 0px auto }
    #footerprovisional{
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      position: fixed;
    }
  }
  #cuponUno{
    position: fixed;
    width: 100vw;
    min-width: 250px;
    height: 100vh;
    background: rgba(255,255,255,0.9);
    z-index: 4800;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
  }
  #cuponUno>div{
    width: 400px;
    height: 400px;
    background: #fff;
    text-align: center;
  }
  #cuponUno>div>img{
    width: 200px;
  }
  #cuponUno>div>a{
    margin:30px auto;
    display: block;
    width: 150px;
    line-height: 40px;
    text-align: center;
    background: #28346F;
    color: #fff;
  }
  #cuponUno>div>a:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }

/* ANIMATIONS */
@-webkit-keyframes fadeIn { from{opacity: 0} to{opacity: 1} }
@-moz-keyframes fadeIn { from{opacity: 0} to{opacity: 1} }
@-ms-keyframes fadeIn { from{opacity: 0} to{opacity: 1} }
@-o-keyframes fadeIn { from{opacity: 0} to{opacity: 1} }
@keyframes fadeIn { from{opacity: 0} to{opacity: 1} }

/* QUITAR */
#menulateral{
  display: none !important;
}



#pausaWrap{
  position: fixed;
  width: 100vw;
  min-width: 250px;
  height: 100vh;
  background: #fff;
  z-index: 7000;
  display: none;
}
#pausaWrap>header{
  position: absolute;
  top: 0;
  width: 100%;
  min-width: 250px;
  height: 60px;
  border:1px solid #CCC;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../img/pausa/textura.jpg');
}
#pausaWrap>header>#mobile{
  position: relative;
  margin: 10px auto;
  display: block;
  height: 80%;
}
#pausaWrap>header>#desktop{
  position: relative;
  margin: 0 auto;
  display: none;
  height: 100%;
}
#pausaWrap>#areatrabajoWRD, #pausaWrap>#areatrabajoPPT,
#pausaWrap>#areatrabajoEXC, #areatrabajoMobile{
  position: absolute;
  top: 60px;
  width: 100%;
  height: calc(100% - 60px);
  background: #fff;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
/* PAUSA WRD */
#pausaWrap>#areatrabajoWRD>textarea{
  font-family: 'Source Sans Pro', sans-serif;
  color: #263072;
  width: 100%;
  max-width: 840px;
  min-width: 250px;
  height: 100%;
  border: none;
  padding: 0;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-align: left;
  font-weight: 400;
  font-size: 1.2rem;
  border: 2px solid #263072;
}
/* PAUSA PPT */
#pausaWrap>#areatrabajoPPT>#tools{
  position: absolute;
  left: 0;
  width: 200px;
  height: 100%;
  display: none;
  background-image: url('../img/pausa/tools-ppt.jpg');
  background-repeat: repeat-y;
  background-size: 100%;
}
#pausaWrap>#areatrabajoPPT>#diapositiva{
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  min-width: 250px;
  height: 100%;
  border: 2px solid #A3A3A3;
  background: #fff;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
#pausaWrap>#areatrabajoPPT>#diapositiva>img{
  width: 600px;
}
/* PAUSA EXC */
#pausaWrap>#areatrabajoEXC>#celdas{
  clear: both;
  padding: 0px;
  margin: 0px;
}
#pausaWrap>#areatrabajoEXC>#celdas>ul>li{
  border: 1px solid #A2A2A2;
  width: 100%;
  height: 40px;
}
#pausaWrap>#areatrabajoEXC>#celdas>ul>li>textarea{
  font-family: 'Source Sans Pro', sans-serif;
  color: #1F7448;
  line-height:40px;
  text-align: center;
  background: #fff;
  border:0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
  resize: none;
  overflow: hidden;
}
#tituloCeldas>textarea{
  background:#1F7448 !important;
  color: #fff !important;
  font-size: 1.7rem;
}
/* PAUSA MOBILE */
#areatrabajoMobile{
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}

#areatrabajoMobile>img{
  height: 100%;
}

  @media (min-width: 960px){
    #pausaWrap>header{
      height: 130px;
      background-repeat: repeat-x;
      background-size: auto 109%;
      background-image: url('../img/pausa/textura-wrd.jpg');
    }
    #pausaWrap>header>#mobile{ display: none }
    #pausaWrap>header>#desktop{ display: block }
    #pausaWrap>#areatrabajoWRD, #pausaWrap>#areatrabajoPPT,
    #pausaWrap>#areatrabajoEXC{
      top: 130px;
      height: calc(100% - 130px);
    }
    #pausaWrap>#areatrabajoPPT>#tools{ display: block; }
  }
